/*
	4colprob.rc
	4 Colour Problem saver module resource script file
	(C) 1994 Nicole Greiber
*/

#include <os2.h>
#include "4colprob.h"

ICON	IDR_ICON	"4colprob.ico"

/*
	$$$$$ change code here $$$$$
	Replace "Sample module" with a module name of your choice.
	The module name must not exceed 32 characters.
	Include the module *.DLG-file.
*/
STRINGTABLE
{
	IDS_MODULENAME	"4 Colour-Problem"
}
RCINCLUDE 4colprob.dlg
