/*
	space.rc
	sample saver module resource script file
	(C) 1993-94 Siegfried Hanisch
*/

#include <os2.h>
#include "space.h"

ICON	IDR_ICON	"space.ico"

/*
	$$$$$ change code here $$$$$
	Replace "Sample module" with a module name of your choice.
	The module name must not exceed 32 characters.
	Include the module *.DLG-file.
*/
STRINGTABLE
{
	IDS_MODULENAME	"Space Flight"
}
RCINCLUDE space.dlg
